1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

Ans. *, -, /, + are expressions.
'hello', -87.8, 6 are values.

2. What is the difference between string and variable?

Ans. A Variable is a store of information, or the name of the location in the primary memory of your computer. It can be manipulated if needed.
A String is a type of information you would store in a Variable. so we can say a string is a type of variable or datatype.
Variables can be of several types like integer, floats, string, boolean. 
string is written using single quotes or double quotes unlike in case of variable or a string is the values inside the quotes assigned to a variable.
A variable can hold a string, but a string can't hold a variable.
for example,

In [6]:
# a is name of the variable and 'string' is the value assigned to it.
a = 'string'  
type(a)

str

In [13]:
'string'= a

SyntaxError: cannot assign to literal (<ipython-input-13-2300824061f8>, line 1)

In [11]:
# case 1: Variables a and b are strings.
a = "10" 
b = "20" 
print(a+b)  #prints 1020 
type(a)
type(b)

1020

str

In [12]:
# case 2. Variables a and b are integers
a = 10 
b = 20 
print(a+b)  #prints 30
type(a)
type(b)

30

int

In [16]:
q = "what did you have for lunch?"
print(q)

what did you have for lunch?

In [17]:
q = "what did you have for lunch?"
print('q')

q

We cannot use space or “” & ‘’ while specifying the Variable. Only we have to use the letters without space we cannot use numeric types and collection types, like lists, tuples, dictionaries.

In string we have to use “” & ‘’ also can use space in between colons and we can use any of these (Ex. numeric types and collection types, like lists, tuples, dictionaries)

3. Describe three different data types.

A. Numeric -
In Python, numeric data type represent the data which has numeric value. Numeric value can be integer, floating number or even complex numbers. These values are defined as int, float and complex class in Python.

Integers – This value is represented by int class. It contains positive or negative whole numbers (without fraction or decimal). In Python there is no limit to how long an integer value can be.

Float – This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.

Complex Numbers – Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j. For example – 2+3j

In [18]:
a = 5
print("Type of a: ", type(a))
  
b = 5.0
print("Type of b: ", type(b))
  
c = 2 + 4j
print("Type of c: ", type(c))

Type of a:  <class 'int'>
Type of b:  <class 'float'>
Type of c:  <class 'complex'>

B. Sequence type - In Python, sequence is the ordered collection of similar or different data types. Sequences allows to store multiple values in an organized and efficient fashion. 

String -  A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

In [19]:
string = "Hello World"
print(string)

Hello World

list-  list is created by placing all the items inside square brackets [], separated by commas.
It can have any number of items and they may or may not be of different types (integer, float, string, etc.).
A list is mutable, which suggests we can modify the list.

In [1]:
list = [3,4,7,5, 'Hello']
print(list)
print(list[2])
print(list[2:4])
list[3] = 8
print(list)

[3, 4, 7, 5, 'Hello']
7
[7, 5]
[3, 4, 7, 8, 'Hello']

Tuple - A tuple is defined as an ordered collection of Python objects. The only difference between tuple and list is that tuples are immutable i.e. tuples can’t be modified after it’s created. It is represented by tuple class. we can represent tuples using parentheses ( ).

In [8]:
tuple = (25,20,5.3, 'world')
print('tuple = ', tuple)
print(tuple[2])
tuple[:4]

tuple =  (25, 20, 5.3, 'world')
5.3

(25, 20, 5.3, 'world')

C. boolean - Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). But non-Boolean objects can be evaluated in Boolean context as well and determined to be true or false. It is denoted by the class bool.

In [12]:
c = 10
d = 15
print(type( c == 10))
print(type(d < 15))

<class 'bool'>
<class 'bool'>

In [13]:
c == 10

True

In [14]:
d < 10

False

4. What is an expression made up of? What do all expressions do?

Ans. An expression is a sequence of operands and operators, like a + b - 5, is called an expression. Any sequence of literals (strings, numbers, lists, sets, tuples), objects, function calls, identifiers combined with a variety of operators which evaluate (that is, reduce) to a single value
regardless of whether the resulting value is an object, or a number, or even a none.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans. An expression evaluates to a single value. it is combination of operators and operands. A statement does not. A statement does something, like creating a variable or displaying a value, it only does whatever the statement says.

6. After running the following code, what does the variable bacon contain?

In [28]:
bacon = 22 
print(bacon + 1)

23

the code returns 23. but the variable bacon contain value 22.

7. What should the values of the following two terms be?

In [15]:
'spam' + 'spamspam'

'spamspamspam'

In [16]:
'spam'*3

'spamspamspam'

they give the same results by concatenating strings together

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
Ans. Variable names cannot begin with a number.

In [19]:
# doesn't work
9name = 10     
print(9name)

SyntaxError: invalid syntax (<ipython-input-19-7bece5e7ec69>, line 1)

In [20]:
# works 
name9 = 10     
print(name9)

10

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans. The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?

In [23]:
'I have eaten' + 99 +'burritos.'

TypeError: can only concatenate str (not "int") to str

this expression throws an error because can only concatenate str (not "int") to str
so we need to convert integer 99 into a string first

In [26]:
'I have eaten ' + str(99) +' burritos.'

'I have eaten 99 burritos.'